@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ToDoItem>

@{
    // Group tasks by quadrant number
    var quadrants = Model.GroupBy(t => t.Quadrant);
}

<div class="container ">
    <div class="row border">
        <div class="col-12 ">
            <h2 class="">Stephen Covey's Time Management Matrix</h2>
        </div>
    </div>
    <div class="row border">
        <div class="col-2 border-end ">
        </div>
        <div class="col-5 border-end ">
            <h3>URGENT</h3>
        </div>
        <div class="col-5 border-end ">
            <h3>NOT URGENT</h3>
        </div>
    </div>
    <div class="row border">
        <div class="col-2 border-end ">
            <h3 style="writing-mode: vertical-rl; text-orientation: upright;">IMPORTANT</h3>
        </div>
        <div class="col-5 border-end ">
            <h4 class="">Quadrant 1</h4>
                <table class="table">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task Name</td>
                            <td>Edit</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 1))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>
                                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                                </td>
                                <td> <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
        </div>
        <div class="col-5">
            <h4 class="">Quadrant 2</h4>
            <table class="table">
                <thead class="fw-bold">
                    <tr>
                        <td>Task Name</td>
                        <td>Edit</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 2))
                    {
                        <tr>
                            <td>@task.TaskName</td>
                            <td>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border">
        <div class="col-2 border-end  ">
            <h3 style="writing-mode: vertical-rl; text-orientation: upright;">NOT IMPORTANT</h3>
        </div>
        <div class="col-5 border-end ">
            <h4 class="">Quadrant 3</h4>
            <table class="table">
                <thead class="fw-bold">
                    <tr>
                        <td>Task Name</td>
                        <td>Edit</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 3))
                    {
                        <tr>
                            <td>@task.TaskName</td>
                            <td>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5 ">
            <h4 class="">Quadrant 4</h4>
            <table class="table">
                <thead class="fw-bold">
                    <tr>
                        <td>Task Name</td>
                        <td>Edit</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 4))
                    {
                        <tr>
                            <td>@task.TaskName</td>
                            <td>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!--
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h2>Quadrant 1 (Important and Urgent)</h2>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task Name</td>
                            <td>Due Date</td>
                            <td>Completed</td>
                            <td>Category</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 1))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td>@task.Completed</td>
                                <td>@task.CategoryID</td>
                                <td>
                                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Quadrant 2 (Important and Not Urgent)</h2>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task Name</td>
                            <td>Due Date</td>
                            <td>Completed</td>
                            <td>Category</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 2))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td>@task.Completed</td>
                                <td>@task.CategoryID</td>
                                <td>
                                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h2>Quadrant 3 (Not Important and Urgent)</h2>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task Name</td>
                            <td>Due Date</td>
                            <td>Completed</td>
                            <td>Category</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 3))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td>@task.Completed</td>
                                <td>@task.CategoryID</td>
                                <td>
                                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Quadrant 4 (Not Important and Not Urgent)</h2>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task Name</td>
                            <td>Due Date</td>
                            <td>Completed</td>
                            <td>Category</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in quadrants.FirstOrDefault(q => q.Key == 4))
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.DueDate</td>
                                <td>@task.Completed</td>
                                <td>@task.CategoryID</td>
                                <td>
                                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@task.TaskId">Edit</a>
                                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@task.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->
